<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
      <coverage>
        <include>
            <directory suffix="_class.php">
                modelo/
            </directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Pruebas del Proyecto">
            <directory suffix="_test.php">
                tests
            </directory>
        </testsuite>
    </testsuites>
</phpunit>
