h1,
h3
{

    font-family: "Bodoni MT Black"; 
     font-size: 30px;
}

h2
{

    font-family: "Bodoni MT Black";
    font-weight:bold;
    font-size: 40px
    
}

.tipogra {

    font-size: 33px;
    text-indent: 70px
}